/*
  ==============================
  * Root Styles & Reset
  ==============================
*/

@font-face {
  font-family: "Karia";
  font-style: normal;
  src: url("./assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Karia Italic";
  font-style: italic;
  src: url("./assets/fonts/Karla-Italic-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-green-900: hsl(169, 83%, 14%);
  --color-red: hsl(0, 66%, 54%);

  --fs-large: 2rem;
  --fs-md: 1.125rem;
  --fs-sm: 1rem;

  --ls-heading: -1px;
  --ls-body-md: 0px;
  --ls-body-sm: 0px;

  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-1600: 8rem;

  --text-heading: 700 var(--fs-large) / 1 "Karia";
  --text-body-md-bold: 700 var(--fs-md) / 1.5 "Karia";
  --text-body-md-regular: 400 var(--fs-md) / 1.5 "Karia";
  --text-body-sm: 400 var(--fs-sm) / 1.5 "Karia";
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
  ==============================
  * Element Selectors
  ==============================
*/

html {
  font-family: "Karia";
}

body {
  background-color: var(--color-green-200);
  padding: var(--spacing-400) var(--spacing-200);
}

main {
  background-color: var(--color-white);
  padding: var(--spacing-300);
  border-radius: 1rem;
  /* position: relative; */
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

fieldset {
  border: transparent;
  margin-bottom: var(--spacing-300);
}

label,
legend {
  font: var(--text-body-sm);
  color: var(--color-grey-900);
}

input,
textarea {
  border: 1px solid var(--color-grey-500);
}

textarea {
  resize: none;
  border-radius: 0.5rem;
  padding: var(--spacing-150) var(--spacing-300);
}

input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  position: relative;
  top: 0.25rem;
}

button {
  cursor: pointer;
  background-color: var(--color-green-600);
  color: var(--color-white);
  font: var(--text-body-md-bold);
  display: grid;
  width: 100%;
  padding: var(--spacing-150) 0;
  border: none;
  border-radius: 0.5rem;
}

/*
  ==============================
  * Utility Classes
  ==============================
*/

.text-heading {
  font: var(--text-heading);
  letter-spacing: var(--ls-heading);
  color: var(--color-grey-900);
}

.text-body-md-bold {
  font: var(--text-body-md-bold);
  letter-spacing: var(--ls-body-md);
}

.text-body-md-regular {
  font: var(--text-body-md-regular);
  letter-spacing: var(--ls-body-md);
}

.text-body-sm {
  font: var(--text-body-sm);
  letter-spacing: var(--ls-body-sm);
}

.text-input,
.radio-input {
  padding: var(--spacing-150) var(--spacing-300);
  border-radius: 0.5rem;
  cursor: pointer;
}

.radio-input {
  display: flex;
  gap: var(--spacing-200);
  border: 1px solid var(--color-grey-500);
}

.sr-only {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon-asterisk {
  height: 1.25rem;
  width: 1.25rem;
}

.icon-success {
  height: 1.5rem;
  width: 1.5rem;
}

.input-error {
  font: var(--text-body-sm);
  color: var(--color-red);
}

.input-container {
  display: flex;
  flex-direction: column;
}

/*
  ==============================
  * General Styles
  ==============================
*/

h1.text-heading {
  margin-bottom: var(--spacing-400);
}

fieldset[name="contact-info"] {
  display: grid;
  gap: var(--spacing-300);
}

fieldset[name="query-type"] {
  display: grid;
  gap: var(--spacing-200);
}

fieldset[name="query-type"] > legend {
  margin-bottom: var(--spacing-200);
}

fieldset[name="message-field"] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

fieldset[name="consent-field"] {
  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "checkbox label"
    "error error";
  gap: var(--spacing-200);
}

fieldset[name="consent-field"] > input {
  grid-area: checkbox;
  place-self: center;
}

fieldset[name="consent-field"] > label {
  grid-area: label;
  cursor: pointer;
}

#consent-error {
  grid-area: error;
}

dialog > h2 {
  color: var(--color-white);
  grid-area: heading;
}

dialog > svg {
  grid-area: icon;
}

dialog > p {
  grid-area: message;
}

.attribution {
  margin-top: var(--spacing-400);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-green-900);
}

/*
  ==============================
  * State Styles
  ==============================
*/

input[type="radio"]:checked {
  outline: 2px solid var(--color-green-600);
  border: 3px solid var(--color-green-200);
  background-color: var(--color-green-600);
}

input[type="checkbox"]:checked {
  accent-color: var(--color-green-600);
}

.text-input:hover,
.text-input:focus,
.text-input:active,
.radio-input:hover,
.radio-input:focus,
.radio-input:active,
textarea:hover,
textarea:focus,
textarea:active,
input[type="checkbox"]:hover,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  outline: 1px solid var(--color-green-600);
  border-color: var(--color-green-600);
}

.radio-input:focus-within {
  background-color: var(--color-green-200);
  outline: 1px solid var(--color-green-600);
  border-color: var(--color-green-600);
}

button:hover,
button:focus,
button:active {
  outline: none;
  background-color: var(--color-green-900);
}

dialog:not([open]) {
  display: none;
}

dialog[open] {
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  margin-inline: auto;
  border: none;
  background-color: var(--color-grey-900);
  color: var(--color-green-200);
  font: var(--text-body-sm);
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  grid-template-areas:
    "icon heading"
    "message message";
  width: 100%;
  padding: var(--spacing-400);
  gap: var(--spacing-150);
  border-radius: 1rem;
}

/*
  ==============================
  * Media Queries
  ==============================
*/
@media (min-width: 40rem) {
  body {
    padding: var(--spacing-1600) var(--spacing-400);
  }

  main {
    padding: var(--spacing-500);
    border-radius: 1rem;
  }

  fieldset[name="contact-info"] {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "first last"
      "email email";
    column-gap: var(--spacing-200);
    row-gap: var(--spacing-300);
  }

  .contact-info__input-container--first {
    grid-area: first;
  }
  .contact-info__input-container--last {
    grid-area: last;
  }
  .contact-info__input-container--email {
    grid-area: email;
  }

  fieldset[name="query-type"] {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64rem) {
  body {
    display: grid;
    place-content: center;
  }

  main {
    max-width: 46rem;
  }
}
